[Unit]
Description = DoCoMo Mail to GMail Transfer service
After=docker.service
Requires=docker.service

[Service]
Type = simple
ExecStart = /bin/sh -c 'exec docker run --mount type=bind,source="$(pwd)"/conf,target=/conf,readonly --mount type=bind,source="$(pwd)"/state,target=/state --rm ghcr.io/walkure/dgmtx:1.0.0'
WorkingDirectory = /home/walkure/dgmtx/

[Install]
WantedBy = multi-user.target
